// Styling for the masthead
header.masthead {
  text-align: center;
  color: $primary;
  background-image: url('../img/Jeel_Avani_engagement-17.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100vw;
  height: 100vh;

  .intro-text {
     padding-bottom: 40px;
    .intro-lead-in {
      font-size: 50px;
      margin-top: 30px;
      font-family: 'Tangerine';
      padding-top: 470px;
    }
    .intro-heading {
      font-size: 15px;
      font-weight: 70;
      line-height: 30px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:692px) {
  header.masthead {
    .intro-text {
      padding-top: 470px;
      padding-bottom: 70px;
      .intro-lead-in {
        font-size: 100px;
        line-height: 50px;
        font-family: 'Tangerine';
        padding-top: 50px;
      }
      .intro-heading {
        font-size: 20px;
        font-weight: 70;
        line-height: 50px;
        margin-bottom: 15px;
        @include heading-font;
      }
    }
  }
}
